@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


:root {
    --main-color:#1d237a;
    /* --sub-color:#000046; */
    --sub-color:#12528e;
    --white:#fff;
    --border:.1rem solid rgba(220, 198, 156, .3);
  }
  
  * {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  
  *::selection {
    background: var(--main-color);
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

 
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.842);
  }
  
  html::-webkit-scrollbar-thumb {
    background: #393f3b;
    border-radius: 5rem;
  }

  section {
    padding: 2rem 6%;
  }
 









.main-wrapper{
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.main-wrapper img{
    width: 80%;
    object-fit: cover;
    display: block;
}
.main-wrapper a{
    color: #000;
    text-decoration: none;
}
.main-wrapper ul li{
    list-style-type: none;
}
.navbar{
    background: #fff;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
.brand-and-icon{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}
.navbar-brand{
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 3.8rem;
}

.navbar-brand img{
    width: 13rem;
    height: 4rem;
}
.navbar-toggler{
    display: block;
    border: none;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem 1rem;
    transition: all 0.4s ease;
    border: 2px solid #000;
    border-radius: 4px;
}
.navbar-toggler:hover{
    opacity: 0.7;
}
.navbar-collapse{
    overflow-y: scroll;
    display: none;
}
.navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    padding: 1rem 0;
    margin: .5rem 0;
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
    transition: all 0.4s ease;
}
.drop-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-nav > li > a:hover{
    opacity: 0.7;
}
.sub-menu h4{
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
.sub-menu ul li{
    text-transform: capitalize;
    padding: .5rem 0;
    margin: .5rem 0;
    font-size: 1.5rem;
}
.sub-menu ul li a{
    opacity: 0.8;
    transition: all 0.5s ease;
}
.sub-menu ul li a:hover{
    padding-left: 1.5rem;
    opacity: 0.9;
}
.sub-menu{
    display: none;
}

.sub-menu-item{
    padding: 2rem;
}


.sub-menu-item img{
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 3rem;

}



/* navbar section ends  */




.btn{
    display: inline-block;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    transition: .2s linear;
    margin-top: 1rem;
    background-color: var(--sub-color);
 }
 
 .btn:hover{

    border-radius: 5rem;
    background-color: white;
    color: var(--main-color);
    box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.3);
 }









/* Media Queries */
@media screen and (min-width: 992px){
    .navbar{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 1rem 8rem;
        position: relative;
    }
    .navbar-toggler{
        display: none;
    }
    .brand-and-icon{
        flex: 0 0 100px;
        border-bottom: none;
        padding: 0;
    }
    .navbar-collapse{
        display: block!important;
        overflow-y: hidden;
        flex: 1 0 auto;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav > li > a{
        border-bottom: none;
        margin: 0 1rem;
        padding: 1.7rem 1.8rem 1.7rem 0.8rem;
        font-size: 1.2rem;
        margin-right: 1rem;
        
    }
    .sub-menu{
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background: #f8f8f8;
    }
    .navbar-nav > li:hover .sub-menu{
        display: grid!important;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
        margin-top: -1rem;
    }
    .navbar-nav > li{
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s ease;
    }
    .navbar-nav > li:hover{
        border-bottom-color: #000;
    }
    .sub-menu-item{
        padding-left: 0;
    }
    
    
   
}


.menu-link p{
    margin-right: 1rem;
    text-transform: uppercase;
}













.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 4rem;
    padding: 6rem  0rem 0rem 8%;
    padding-top: 6rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    flex: 1 1 40rem;
    justify-content: center;
    align-items: center;
    
}

.container .content .contenthead h1{
    font-size: 7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: .5rem 1rem 1rem rgb(216, 214, 214);
    margin-bottom: 5rem;
    margin-left: 7rem;
}

.container p , .container2 p , .container3 p  , .container4 p , .container5 p{
    font-size: 1.7rem; 
    margin-bottom: 1rem;
    align-items: justify;
    line-height: 2.5rem;
}

.container .images {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 1 40rem;
}


.container .images img{
    width: 60%;

    border-radius: 3rem 0rem 3rem 0rem;
    box-shadow: 1rem 1rem 1rem rgba(191, 189, 189, 0.824);
}

.container .images .img1{
    margin-left: 5rem;
}




.container2{
    background-color: #eee;
    margin-top: 7rem;

}
.moto{
    width: 84%;
    margin: 0 auto;
    padding: 7rem 0rem;
}

.head h1{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: .5rem 1rem 1rem rgb(216, 214, 214);
    margin-bottom: 2rem;
}


.container3{
    margin-top: 4rem;

}

.vision{
    width: 84%;
    padding: 3rem 0rem;

    margin: 0 auto;
}



.container4{
    background-color: #eee;
    margin-top: 7rem;
}



.story{
    width: 84%;
    margin: 0 auto;
    padding: 7rem 0rem;
}



.container5{
    margin-top: 4rem;
}

.success-journey{
    width: 84%;
    margin: 0 auto;
    padding: 3rem 0rem;
}




.success-journey-content{
    display: flex;
    justify-content: space-around;
    width: 84%;
    margin: 0 auto;
    
}



.success-journey-content li{
    font-size: 1.7rem; 
    align-items: justify;
    line-height: 2.5rem;
}


.success-journey-content .line{
    width: .2rem;
    height: 15rem;
    background-color: black;
    justify-content: center;
    margin-left: .9rem;
    margin-top: -2rem;
}

.success-journey-content i{
    font-size: 2rem;
}

.success-bar{
    display: flex;
    flex-direction: column;
    top: 2rem;
    color: var(--main-color);
}

.journey-left .success-content{
    justify-content: right;
    text-align: right;

}

.contactbox .btn:hover a{
    color: var(--main-color);
}

.journey-left li {
    list-style-type: none;
}

/* .year {
    display: inline-block;
    font-size: 1.5rem;
    background-color: var(--main-color);
    font-weight: bold;
    padding: 1rem 2rem;
    color: white;
    margin-top: 3rem;
    border-radius: 2rem;
    border: .2rem solid rgb(14, 149, 202);
} */

.journey-bar{
    margin: 0rem 3rem;
}
.success-content h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 2.2rem;
    font-family: 'poppins';
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.hi-1{
    margin-top: 15rem;
}

.hi-2{
    margin-top: 16.5rem;
}
.hi-3{
    margin-top: 16.5rem;
}

.hi-4{
    margin-top: 0rem;
}
.hi-5{
    margin-top: 16.5rem;
}
.hi-6{
    margin-top: 16.5rem;
}


  
.logocontainer{
    min-height: 150px;
    width: 100%;
    place-items: center;
    max-width: 100%;
}

.logo-slider{
    height: 120px;
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.logo-slider-track{
    display: flex;
    width: calc(100px*14);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px*7));
    }
}


.logocontainer{
    margin-bottom: 4rem;
    
    margin-top: 5rem;
}
.logo-slide {
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    overflow: hidden;
}

.logocontainer img{
    width: 100%;
    height: 100%;
    margin: 1rem;
}

.logocontainer img:hover{
    transform: translateZ(20px);
}

.logo-slider::before,
.logo-slider::after {
    background: linear-gradient(to right , rgba(255, 255, 255 ,1) 0% , rgba(255, 255, 255, 0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.logo-slider::before{
    left: 0;
    top: 0;
}
.logo-slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg) ;
}



.team-heading .head{
    margin: 0 auto;
}

.team-heading h2{
    font-size: 2rem;
}

.container-6{
    width: 84%;
    margin: 0 auto;
}



.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: 5rem;
  }
  
  .review .box-container .box{
    text-align: center;
    border:1px solid rgb(255, 255, 255);
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex:1 1 30rem;
    background:#eee;
    margin-top: 6rem;
    justify-content: baseline;
  }
  
  .review .box-container .box img{
    height: 20rem;
    width:20rem;
    border-radius: 3rem 0rem 3rem 0rem;
    /* border-radius: 50%; */
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.3);
    border:5px solid #eee;
    object-fit: cover;
    margin-bottom: 2rem;
   
  }
  
  .review .box-container .box h2{
    font-size: 2rem;
    color:rgb(9, 9, 9);
    margin-top: 1rem;
    justify-content: baseline;
  }

  .review .box-container .box h3{
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
  
  
  .review .box-container .box p{
    font-size: 1.5rem;
    color:rgb(3, 3, 3);
    padding:1rem 0;
    text-align: justify;
    justify-content: baseline;
  }


  .contactbox a{
    color: white;
  }

  .contactbox a:hover{
    color: var(--main-color);
  }
  

  .social-media{
    width: 84%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  
  .social-media h2{
    font-size: 3rem;
    color:rgb(9, 9, 9);
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    justify-content: baseline;
  }

  .social-media h3{
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 2.5rem;
  }

  .social-media .icon{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: .5rem solid #eee;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .8rem;
    margin-left: 2rem;
    border-radius: 1rem 0 1rem 0;
  }

 .social-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
 }
 


 .footer{
    padding: 15rem 4%;
    padding-bottom: 3rem;
    background-color: var(--sub-color);
    color: white;

 }

 .box-container3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    align-items: flex-start;

 }


  .box-container3 .box {
    margin: 2rem;
    justify-content: center;
    align-items: center;
  }

 .footer .box-container3 .box a{
    display: block;
    font-size: 1.8rem;
    padding: 1rem 0;
    color: white;
 }
  
 .footer .box-container3 .box a:hover{

    color: #8c9790;
 }
 
  .footer .box-container3 .box:first-child i{
    margin-right: 1.7rem;
 }

 
.footer .box-container3 .box:nth-child(2){
    margin-right: 1.7rem;

 }
 
 .footer .box-container3 .box:last-child{
    text-align:right;
 }
  
 .footer .box-container3 .box:last-child i{
    margin-left: 1.7rem;
 } 
  
 .footer .credit{
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
 }
 
 .reviews .head , .reviews .headpara{
    margin-left: 2rem;
    padding-left: 4rem;
 }


  .contactbox{
    margin: 0 auto;
    border: 1rem solid whitesmoke;
    padding: 2rem;
    width: 60%;
    justify-content: center;
    text-align: center;
    margin-bottom: -8rem;
    border-radius: 3rem;
    margin-top: 7rem;
 
  }


  .contactbox h2{
    font-size: 2rem;
    color: var(--main-color);
    margin-top: 1rem;
  }

  .contactbox p {
    margin: 0 auto;
    font-size: 1.5rem;
    margin-top: 1.5rem;

  }

  .contactbox .btn{
    margin-top: 2rem;
    
  }




   
@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px) {
 
    
    html {
        font-size: 57%;
  
 }
}
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 

    .footer a, .footer i{
        margin: 0 auto;
    }
    .contactbox{
        width: 100%;
        margin-top: 2rem;
    }

    .reviews {
        margin-bottom: 0%;
    }

    .main-wrapper img{
        width: 25rem;
    }


    .navbar-brand{
        margin-left: 0rem;
    }
    .navbar-brand img{
        height: 5rem;

    }
    .navbar-toggler{
       padding: 1rem 1.2rem;
    }

    .social-content{
        margin-top: 0rem;
    }

    .container .content .contenthead h1 {
        font-size: 5rem;
      
        margin-bottom: 0rem;
        margin-left: -4rem;
        margin-top: 3rem;
    }
    
    .container .images{
        flex-direction: row;
        width: 100%;
    }

    .container .images .img1 {
        margin-left: 0rem;
        height: 12rem;
        width: auto;

    }

    .container .images .img2 img {
        height: 12rem;
        width: auto;
    }

    .success-journey-content .line {
        height: 33rem;
    }

    .hi-1{
        margin-top: 33rem;
    }
    .hi-2 {
        margin-top: 33.5rem;
    }

    .hi-3 {
        margin-top: 34.5rem;
    }

    .hi-5 {
        margin-top: 34.5rem;
    }

    .hi-6 {
        margin-top: 34.5rem;
    }
 }



