@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


:root {
    --main-color:#1d237a;
    /* --sub-color:#000046; */
    --sub-color:#12528e;
    --white:#fff;
    --border:.1rem solid rgba(220, 198, 156, .3);
  }
  
  * {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  
  *::selection {
    background: var(--main-color);
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

 
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.842);
  }
  
  html::-webkit-scrollbar-thumb {
    background: #393f3b;
    border-radius: 5rem;
  }

  section {
    padding: 2rem 6%;
  }
 









.main-wrapper{
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.main-wrapper img{
    width: 80%;
    object-fit: cover;
    display: block;
}
.main-wrapper a{
    color: #000;
    text-decoration: none;
}
.main-wrapper ul li{
    list-style-type: none;
}
.navbar{
    background: #fff;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
.brand-and-icon{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}
.navbar-brand{
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 3.8rem;
}

.navbar-brand img{
    width: 13rem;
    height: 4rem;
}
.navbar-toggler{
    display: block;
    border: none;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem 1rem;
    transition: all 0.4s ease;
    border: 2px solid #000;
    border-radius: 4px;
}
.navbar-toggler:hover{
    opacity: 0.7;
}
.navbar-collapse{
    overflow-y: scroll;
    display: none;
}
.navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    padding: 1rem 0;
    margin: .5rem 0;
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
    transition: all 0.4s ease;
}
.drop-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-nav > li > a:hover{
    opacity: 0.7;
}
.sub-menu h4{
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
.sub-menu ul li{
    text-transform: capitalize;
    padding: .5rem 0;
    margin: .5rem 0;
    font-size: 1.5rem;
}
.sub-menu ul li a{
    opacity: 0.8;
    transition: all 0.5s ease;
}
.sub-menu ul li a:hover{
    padding-left: 1.5rem;
    opacity: 0.9;
}
.sub-menu{
    display: none;
}

.sub-menu-item{
    padding: 2rem;
}


.sub-menu-item img{
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 3rem;

}



/* navbar section ends  */




.btn{
    display: inline-block;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    transition: .2s linear;
    margin-top: 1rem;
    background-color: var(--sub-color);
 }
 
 .btn:hover{

    border-radius: 5rem;
    background-color: white;
    color: var(--main-color);
    box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.3);
 }




 .home{
    padding-top: 6rem;
 }

 .home .box img{
    border-radius: .5rem;
    height: 75vh;
    width: 100%;
    object-fit: cover;
    /* border-radius: 2rem; */
 }
 
 .home .box .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
 }
 
 .home .box .flex h3{
    font-size: 2.5rem;
    color: var(--sub-color);
    text-transform: capitalize;
 }

  .swiper{
    width: 100%;
 }

 
 
 .swiper-button-prev{
    left: 0%;
    width: 1rem;
 }
 
 .swiper-button-next{
    right: 0;
 }
 
 .swiper-button-next,
 .swiper-button-prev{
    padding: 3rem 2rem;
    background-color: var(--white);
    top: 40%;
    opacity: .7;
 }
 
 .swiper-button-next::after,
 .swiper-button-prev::after{
    color: var(--main-color);
    font-size: 2rem;
 }
 
 .swiper-button-next:hover,
 .swiper-button-prev:hover{
    opacity: 1;
 }






  
.logocontainer{
    min-height: 150px;
    place-items: center;
    max-width: 100%;
}

.logo-slider{
    height: 120px;
    margin: auto;
    position: relative;
    width: 100%;
}

.logo-slider-track{
    display: flex;
    width: calc(100px*14);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px*7));
    }
}


.logocontainer{
    margin-bottom: .5rem;
    
    margin-top: .5rem;

    /* padding-bottom: 6rem; */
}
.logo-slide {
    height: 120px;
    width: 230px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.logocontainer img{
    width: 100%;
    height: 100%;
    margin: 1rem;
}

.logocontainer img:hover{
    transform: translateZ(20px);
}

.logo-slider::before,
.logo-slider::after {
    background: linear-gradient(to right , rgba(255, 255, 255 ,1) 0% , rgba(255, 255, 255, 0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.logo-slider::before{
    left: 0;
    top: 0;
}
.logo-slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg) ;
}


.header{
    font-size: 3rem;
    margin: 1rem 8%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--main-color);
}

.headerpara {
    margin: .5rem 8%;
    font-size: 2rem;
}






/* homeabout section start  */

.homeaboutcontainer{
    background-color: #eee;
    padding: 5rem 8%;
    margin-top: -1rem;
}

.homeabout{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}


.homecontent{
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex: 1 1 40rem;
}
.homeabout .homecontent h2{
    font-size: 3rem;
    color: var(--main-color);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1.5rem;
}

.homepara {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.homebtnpara {
    margin-bottom: 2rem;
}

.homecontent{
    flex: 1 1 40rem;
}



.homeabout img{
    width: 45rem;
    height: 40rem;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 4rem 0rem 4rem 0rem;
    object-fit: cover;
}





.boxes2 {
    display: flex;
    flex-wrap: wrap;
  }
  
.boxes2 .box {
    height: 25rem;
    width: 20rem;
    flex: 1 1 20rem;
    margin-top: 5rem;
    border: .9rem solid whitesmoke;
    padding: 1.2rem;
    margin: 1.7rem;
  }
  
 .boxes2 .box  a{
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: bold;
  }
  
.boxes2  .box i{
    margin-right: .5rem;
    color: var(--main-color);
  }
  
 .boxes2 .box p{
    font-size: 1.5rem;
    color: #666;
    margin-top: 2rem;
  }
  
 .boxes2 .box:hover{
      box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.4);
  }
  



.head{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--main-color);
    margin:  1.5rem 0rem ;
    margin-left:  2rem ;

}

.headpara {
    font-size: 2rem;
   margin-left: 2rem;
}


 .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
    padding:  2rem;
    justify-content: space-between;
  }
  
  .box-container .box {
    border-radius: .8rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
  }
  
  .box-container .box:hover .image h3 {
    left: 1.5rem;
  }
  
 .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
 .box-container .box .image {
    position: relative;
    height: 20rem;
    overflow: hidden;
    width: 100%;
  }
  
   .box-container .box .image h3 {
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: -100%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: #fff;
    color: #130f40;
    font-size: 1.5rem;
  }
  
 .box-container .box .image h3 i {
    padding-right: .5rem;
    color: var(--main-color);
  }
  
   .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
   .box-container .box .content {
    padding: 2rem 1.5rem;
    background: #f7f7f7;
  }
  
  
  .box-container .box .content .tags a i {
    color: var(--main-color);
    padding-right: .5rem;
  }
  
   .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
  }
  
  .box-container .box .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .box-container .btn {
    border: none;
    outline: none;
    background-color: var(--sub-color);
    color: whitesmoke;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  .box-container.box p{
    margin-bottom: 2rem;
  }
  
  .box-container .btn:hover{
      background-color: white;
      color: var(--main-color);
      box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, 0.3);
  
  }


  .serviceheader{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5%;
    margin-top: 2rem;
  }

  .serviceheader h3{
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }

  .serviceheader a {
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: bold;
  }









  
.reviews{
    padding-top: 0;
    background-color: #eee;
    padding: 5rem;
    margin: 5rem 0;
 }

 .reviews-slider{
    margin-top: 5rem;
 }
 
 .reviews .box{
    text-align: center;
    user-select: none;
    padding: 2rem;
    margin-bottom: 4rem;
 }
 
 .reviews .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .reviews .box h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: black;
 }
 
 .reviews .box p{
    line-height: 2;
    font-size: 1.5rem;
 }

 .footer{
    padding: 15rem 4%;
    padding-bottom: 3rem;
    background-color: var(--sub-color);
    color: white;

 }
/* 

  .footer .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 

 .box-container2 .box{
    align-items: center;
    justify-content: center;
    height: 25rem;
    flex: 1 1 25rem;
    padding: 2rem
 }  */

 .box-container3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    align-items: flex-start;

 }


  .box-container3 .box {
    margin: 2rem;
    justify-content: center;
    align-items: center;
  }

 .footer .box-container3 .box a{
    display: block;
    font-size: 1.8rem;
    padding: 1rem 0;
    color: white;
 }
  
 .footer .box-container3 .box a:hover{

    color: #8c9790;
 }
 
  .footer .box-container3 .box:first-child i{
    margin-right: 1.7rem;
 }

 
.footer .box-container3 .box:nth-child(2){
    margin-right: 1.7rem;

 }
 
 .footer .box-container3 .box:last-child{
    text-align:right;
 }
  
 .footer .box-container3 .box:last-child i{
    margin-left: 1.7rem;
 } 
  
 .footer .credit{
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
 }
 
 .reviews .head , .reviews .headpara{
    margin-left: 2rem;
    padding-left: 4rem;
 }


  .contactbox{
    margin: 0 auto;
    border: 1rem solid whitesmoke;
    padding: 2rem;
    width: 60%;
    justify-content: center;
    text-align: center;
    margin-bottom: -8rem;
    border-radius: 3rem;
 
  }


  .contactbox h2{
    font-size: 2rem;
    color: var(--main-color);
    margin-top: 1rem;
  }

  .contactbox p {
    margin: 0 auto;
    font-size: 1.5rem;
    margin-top: 1.5rem;

  }

  .contactbox .btn{
    margin-top: 2rem;
    
  }

  .menu-link p{
        margin-right: 1rem;
        text-transform: uppercase;
  }




.box{
    border-radius: 2rem 0 2rem 0 ;
}

html{
    overflow-x: hidden;
}



  
@media (max-width:991px){

    html{
       font-size: 55%;
    }
 

 
 }
 
 @media (max-width:768px){
 
    
    html {
        overflow-x: hidden;
        font-size: 57%;
    }
    .swiper-button-next,
    .swiper-button-prev{
       top: 35%;
       width: 1rem;
    }

    .main-wrapper img{
        width: 25rem;
        object-fit: cover;
    }

    .homeaboutcontainer{
        padding: 0rem  6% ;
    }

  
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .header .flex .logo{
       font-size: 2rem;
    }
 
    .home .box img{
       height: 28rem;
    }

    .homeaboutcontainer img{
        height: 28rem;
        width: auto;
    }

    section , .boxes2 , .boxes ,    .swiper {
        padding: 0%;
    }
 
    .about .row .image img{
       width: 100%;
    }
    
    .footer a, .footer i{
        margin: 0 auto;
    }
    .contactbox{
        width: 100%;
        margin-top: 0%;
    }

    .reviews {
        margin-bottom: 0%;
    }

    .main-wrapper img{
        width: 25rem;
    }

    .box-container2 .box1{
        align-items: center;
        padding-left: 8rem;
        margin-bottom: -5rem;
    }

    .box-container2 .box3{
        align-items: center;
        padding-right: 15rem;
        margin-top: 2rem;
    }

    .box-container2{
        margin-bottom: 0rem;
    }
    .reviews h2 , .re{
        width: 100%;
    }

    .logocontainer{
        display: none;
    }
    .header{
        display: none;
    }

    .headservices{
        margin: .5rem 2rem;
    }

    .headservices a{
        margin-right: 1rem;
        padding-right: 1rem;
    }

    .reviews .headpara{
        margin: 1rem;
        padding: 0rem;
    }

    .navbar-brand{
        margin-left: 0rem;
    }
    .navbar-brand img{
        height: 5rem;

    }
    .navbar-toggler{
       padding: 1rem 1.2rem;
    }
 
 }


















































































/* Media Queries */
@media screen and (min-width: 992px){
    .navbar{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 1rem 8rem;
        position: relative;
    }
    .navbar-toggler{
        display: none;
    }
    .brand-and-icon{
        flex: 0 0 100px;
        border-bottom: none;
        padding: 0;
    }
    .navbar-collapse{
        display: block!important;
        overflow-y: hidden;
        flex: 1 0 auto;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav > li > a{
        border-bottom: none;
        margin: 0 1rem;
        padding: 1.7rem 1.8rem 1.7rem 0.8rem;
        font-size: 1.2rem;
        margin-right: 1rem;
        
    }
    .sub-menu{
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background: #f8f8f8;
    }
    .navbar-nav > li:hover .sub-menu{
        display: grid!important;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
        margin-top: -1rem;
    }
    .navbar-nav > li{
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s ease;
    }
    .navbar-nav > li:hover{
        border-bottom-color: #000;
    }
    .sub-menu-item{
        padding-left: 0;
    }
    
    
   
}